<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="maxLength" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </wsHttpBinding>
        </bindings>
        <services>
            <service name="WCF_ExpressTravel.Service1">
                <endpoint address="http://localhost:8000" binding="basicHttpBinding"
                    bindingConfiguration="" contract="WCF_ExpressTravel.IService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>